In [21]:
import pandas as pd

In [22]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])

In [23]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [5]:
df.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

In [6]:
df.loc[['viper', 'sidewinder']]

            max_speed  shield
viper               4       5
sidewinder          7       8

In [7]:
df.loc['cobra', 'shield']
2

2

In [9]:
df.loc['cobra':'viper', 'max_speed']

cobra    1
viper    4
Name: max_speed, dtype: int64

In [10]:
df.loc[df['shield'] > 6]

            max_speed  shield
sidewinder          7       8

In [11]:
df.loc[df['shield'] > 6, ['max_speed']]

            max_speed
sidewinder          7

In [12]:
df.loc[['viper', 'sidewinder'], ['shield']] = 50

In [13]:
df

            max_speed  shield
cobra               1       2
viper               4      50
sidewinder          7      50

In [14]:
# Đặt giá trị cho toàn bộ hàng

df.loc['cobra'] = 10
df

            max_speed  shield
cobra              10      10
viper               4      50
sidewinder          7      50

# Tuple

In [26]:
tuples = [
   ('cobra', 'mark i'), ('cobra', 'mark ii'),
   ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
   ('viper', 'mark ii'), ('viper', 'mark iii')
]
index = pd.MultiIndex.from_tuples(tuples)
values = [[12, 2], [0, 4], [10, 20],
        [1, 4], [7, 1], [16, 36]]
df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
df

                     max_speed  shield
cobra      mark i           12       2
           mark ii           0       4
sidewinder mark i           10      20
           mark ii           1       4
viper      mark ii           7       1
           mark iii         16      36

In [16]:
df.loc['cobra']

         max_speed  shield
mark i          12       2
mark ii          0       4

In [17]:
df.loc[('cobra', 'mark ii')]

max_speed    0
shield       4
Name: (cobra, mark ii), dtype: int64

In [18]:
df.loc[[('cobra', 'mark ii')]]

               max_speed  shield
cobra mark ii          0       4

In [19]:
# Bộ đơn cho chỉ mục với một nhãn duy nhất cho cột

df.loc[('cobra', 'mark i'), 'shield']

2

In [27]:
df.loc[("cobra", "mark ii"), "shield"]

4