In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('bai58.csv')
df

,Unnamed: 0,hoten,ngaysinh,gioitinh,td_CN,td_ThS,td_TS,sodt,huutri,hsl,luongcb
0,0,Nguyễn Thị Lệ,01/01/45,0,1,1,0,915030909,1,6.40,8640000.0
1,1,Lê Văn Tài,21/10/76,1,1,1,1,902524444,0,3.99,5386500.0
2,2,Hồ Hữu Hoàn,03/03/90,1,0,0,0,232321234,0,2.97,4009500.0
3,3,Lý Thị Lựu,30/04/01,0,1,1,0,170239311,1,5.40,7290000.0
4,4,Trần Trọng Chí,01/09/63,1,1,0,0,904031234,0,4.20,5670000.0
5,5,Phè Văn Phởn,22/09/04,1,1,1,1,907234445,1,8.20,11070000.0

# 1. Đếm số nhân viên có giới tính là Nữ (giá trị 0), số nhân viên có giới tính là Nam (giá trị 1).

In [45]:
df.loc[(df['gioitinh']==0)]['gioitinh'].count()

2

In [46]:
df.loc[(df['gioitinh']==1)]['gioitinh'].count()

4

# 2. Đếm số nhân viên Nữ và có trình độ Thạc sỹ

In [48]:
df.loc[(df['gioitinh']==0) & (df['td_ThS']==1)]['gioitinh'].count()

2

# 3. Đếm số nhân viên có giới tính là Nữ hoặc nhân viên có trình độ Tiến sỹ

In [49]:
df.loc[(df['gioitinh']==0) | (df['td_TS']==1)]['gioitinh'].count()

4

# 4. Tính trung bình trường dữ liệu Lương cơ bản của những người có trình độ là cử nhân.

In [51]:
df.loc[(df['td_CN']==1)]['luongcb'].mean()

7611300.0

# 5. Xác định mức lương cơ bản cao nhất của nhân viên có trình độ cử nhân.

In [52]:
df.loc[(df['td_CN']==1)]['luongcb'].max()

11069999.999999998

# 6. Xác định mức lương cơ bản thấp nhất của nhân viên nữ có trình độ cử nhân

In [53]:
df.loc[(df['gioitinh']==0)(df['td_CN']==1)]['luongcb'].min()

5386500.0