In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('bai58.csv')
df

,Unnamed: 0,hoten,ngaysinh,gioitinh,td_CN,td_ThS,td_TS,sodt,huutri,hsl,luongcb
0,0,Nguyễn Thị Lệ,01/01/45,0,1,1,0,915030909,1,6.40,8640000.0
1,1,Lê Văn Tài,21/10/76,1,1,1,1,902524444,0,3.99,5386500.0
2,2,Hồ Hữu Hoàn,03/03/90,1,0,0,0,232321234,0,2.97,4009500.0
3,3,Lý Thị Lựu,30/04/01,0,1,1,0,170239311,1,5.40,7290000.0
4,4,Trần Trọng Chí,01/09/63,1,1,0,0,904031234,0,4.20,5670000.0
5,5,Phè Văn Phởn,22/09/04,1,1,1,1,907234445,1,8.20,11070000.0

# 1. Đếm số nhân viên có giới tính là Nữ (giá trị 0), số nhân viên có giới tính là Nam (giá trị 1).

In [7]:
count_staff_female = df.groupby('gioitinh')['gioitinh'].size().reset_index(name='số lượng')
count_staff_female

   gioitinh  số lượng
0         0         2
1         1         4

In [45]:
df.loc[(df['gioitinh']==0)]['gioitinh'].count()

2

In [46]:
df.loc[(df['gioitinh']==1)]['gioitinh'].count()

4

# 2. Đếm số nhân viên Nữ và có trình độ Thạc sỹ

In [48]:
df.loc[(df['gioitinh']==0) & (df['td_ThS']==1)]['gioitinh'].count()

2


    .iloc  giúp selecting hàng và cột qua các row và column numbers. Cú pháp data.iloc[<row selection>, <column selection>]. Những input được phép truyền vào là một số nguyên (5), một list của các số nguyên ([1,2,3]), một slice object với các số nguyên (1:5), một boolean array hay một callable function.

    .loc  giúp selecting hàng và cột qua hai cách: Cách 1 qua các row và column index hoặc nhãn. Cách 2 qua boolean/conditional lookup, tôi sẽ chỉ rõ qua các ví dụ. Cú pháp là data.loc[<row selection>, <column selection>].

    .ix là lai của hai cách phía trên. Nếu truyền vào là một label không phải số nguyên thì nó sẽ hoạt động giống .loc còn nếu truyền vào kiểu số nguyên nó sẽ hoạt động giống iloc.

In [40]:
def count_sf_td_ThS():
    count = 0
    for idx in range(0,df.shape[0],1):
        if df['gioitinh'].iloc[idx]==0 and df['td_ThS'].iloc[idx]==1:
            count = count + 1
    return count

print(count_sf_td_ThS())

2

# 3. Đếm số nhân viên có giới tính là Nữ hoặc nhân viên có trình độ Tiến sỹ

In [49]:
df.loc[(df['gioitinh']==0) | (df['td_TS']==1)]['gioitinh'].count()

4

# 4. Tính trung bình trường dữ liệu Lương cơ bản của những người có trình độ là cử nhân.

In [51]:
df.loc[(df['td_CN']==1)]['luongcb'].mean()

7611300.0

# 5. Xác định mức lương cơ bản cao nhất của nhân viên có trình độ cử nhân.

In [52]:
df.loc[(df['td_CN']==1)]['luongcb'].max()

11069999.999999998

# 6. Xác định mức lương cơ bản thấp nhất của nhân viên nữ có trình độ cử nhân

In [54]:
df.loc[(df['gioitinh']==0) & (df['td_CN']==1)]['luongcb'].min()

7290000.000000001