<p style="text-align:center">
    <a href="https://github.com/ITHealer?tab=repositories" target="_blank">
    <img src="avatar_healer.jpg" width="200" alt="Link github"  />
    </a>
</p>

<h1>Table of contents</h1>

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ol>
        <li><a>Collection data</a></li>
        <li><a>Pre-processing</a></li>
        <li><a>Word Embedding</a></li>
        <li><a>Modeling</a></li>
    </ol>
</div>
<br>
<hr>

<details><summary><font color=green>Details</font></summary>

    
</details>

<font color=red>Fill or drop tag</font>

In [1]:
# import library 
import numpy as np
import pandas as pd

In [2]:
df_file1 = pd.read_excel('dulieu.xlsx')
df_file1.head()

               Họ tên  GT  Mã ngành Khối   M1    M2    M3  Mã tỉnh
0        LA LAN THỊ Ả  Nữ   7380101  C00  5.0  3.75  3.75       39
1       NGÔ THỊ MỸ ÁI  Nữ   7340101  D01  5.2  6.00  4.20       35
2  NGUYỄN THỊ THÚY ÁI  Nữ   7340301  D01  5.0  6.50  1.80       38
3   NGUYỄN TÔ VĨNH ÁI  Nữ   7340101  D01  5.8  6.25  4.60       37
4     PHẠM THỊ KIM ÁI  Nữ   7340101  D01  6.8  6.75  5.40       39

In [3]:
df_file2 = pd.read_excel('tinh.xlsx')
df_file2.head()

   Mã tỉnh         Tên tỉnh
0        1           Hà Nội
1        2  Tp. Hồ Chí Minh
2        2    Tp. Hồ Hồ Chí
3        3        Hải Phòng
4        4          Đà Nẵng

In [4]:
df = pd.merge(df_file1, df_file2,how='outer',left_on=['Mã tỉnh'],right_on=['Mã tỉnh'])

In [22]:
df

,Họ tên,GT,Mã ngành,Khối,M1,M2,M3,Mã tỉnh,Tên tỉnh,Tổng điểm
0,LA LAN THỊ Ả,Nữ,7380101.0,C00,5.00,3.75,3.75,39,Phú Yên,12.50
1,PHẠM THỊ KIM ÁI,Nữ,7340101.0,D01,6.80,6.75,5.40,39,Phú Yên,18.95
2,KPĂ Y AN,Nữ,7310205.0,C00,4.75,3.75,6.25,39,Phú Yên,14.75
3,LÊ MÔ HÒA AN,Nữ,7340101.0,A00,4.60,4.75,4.50,39,Phú Yên,13.85
4,TRƯƠNG THỊ XUÂN AN,Nam,7340101.0,D01,5.80,5.25,4.60,39,Phú Yên,15.65
...,...,...,...,...,...,...,...,...,...,...
2745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58,Trà Vinh,0.00
2746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59,Sóc Trăng,0.00
2747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60,Bạc Liêu,0.00
2748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61,Cà Mau,0.00
2749,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64,Hậu Giang,0.00

In [6]:
df['Tổng điểm'] = (df[['M1','M2','M3']].sum(1))

In [7]:
df.head()

,Họ tên,GT,Mã ngành,Khối,M1,M2,M3,Mã tỉnh,Tên tỉnh,Tổng điểm
0,LA LAN THỊ Ả,Nữ,7380101.0,C00,5.00,3.75,3.75,39,Phú Yên,12.50
1,PHẠM THỊ KIM ÁI,Nữ,7340101.0,D01,6.80,6.75,5.40,39,Phú Yên,18.95
2,KPĂ Y AN,Nữ,7310205.0,C00,4.75,3.75,6.25,39,Phú Yên,14.75
3,LÊ MÔ HÒA AN,Nữ,7340101.0,A00,4.60,4.75,4.50,39,Phú Yên,13.85
4,TRƯƠNG THỊ XUÂN AN,Nam,7340101.0,D01,5.80,5.25,4.60,39,Phú Yên,15.65

In [8]:
df['Họ tên'].groupby(df['GT'])

In [9]:
"Hoai"[3]

'i'

In [14]:
print(divmod(8, 3))

(2, 2)

In [16]:
import math
math.factorial(4)

24

In [17]:
lst = [1, 2, 3, 4]
math.fsum(lst)

10.0

In [21]:
math.hypot(2, 2)

2.8284271247461903

In [33]:
any(df[c].hasnans for c in df)

True

In [35]:
nan_rows = df[df.isnull().any(1)]
nan_rows

,Họ tên,GT,Mã ngành,Khối,M1,M2,M3,Mã tỉnh,Tên tỉnh,Tổng điểm
2714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,Tp. Hồ Chí Minh,0.0
2715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,Tp. Hồ Hồ Chí,0.0
2716,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,Hải Phòng,0.0
2717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,Hà Giang,0.0
2718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,Cao Bằng,0.0
2719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,Lai Châu,0.0
2720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,Lào Cai,0.0
2721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,Tuyên Quang,0.0
2722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,Bắc Kạn,0.0
2723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,Thái Nguyên,0.0
2724,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,Yên Bái,0.0
2725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,Sơn La,0.0
2726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15,Phú Thọ,0.0
2727,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,Vĩnh Phúc,0.0
2728,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,Quảng Ninh,0.0
2729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,Bắc Giang,0.0
2730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21,Hải Dương,0.0
2731,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,Hưng Yên,0.0
2732,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,Hoà Bình,0.0
2733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,Hà Nam,0.0
2734,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27,Ninh Bình,0.0
2735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33,Thừa Thiên -Huế,0.0
2736,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44,Bình Dương,0.0
2737,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46,Tây Ninh,0.0
2738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51,An Giang,0.0
2739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52,Bà Rịa-Vũng Tàu,0.0
2740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53,Tiền Giang,0.0
2741,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54,Kiên Giang,0.0
2742,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55,Cần Thơ,0.0
2743,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56,Bến Tre,0.0
2744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57,Vĩnh Long,0.0
2745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58,Trà Vinh,0.0
2746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59,Sóc Trăng,0.0
2747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60,Bạc Liêu,0.0
2748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61,Cà Mau,0.0
2749,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64,Hậu Giang,0.0

In [38]:
df.loc[:, df.isnull().any()].columns

Index(['Họ tên', 'GT', 'Mã ngành', 'Khối', 'M1', 'M2', 'M3'], dtype='object')

In [39]:
df.isnull().any()

Họ tên        True
GT            True
Mã ngành      True
Khối          True
M1            True
M2            True
M3            True
Mã tỉnh      False
Tên tỉnh     False
Tổng điểm    False
dtype: bool

In [40]:
df.loc[:,list(df.loc[:,df.isnull().any()].columns)].isnull().sum()/(len(df))*100

Họ tên      1.309091
GT          1.309091
Mã ngành    1.309091
Khối        1.309091
M1          1.309091
M2          1.309091
M3          1.309091
dtype: float64