In [26]:
import pandas as pd

In [27]:
data = {"restaurant": ["Jogi", "Terminal 1", "India Club"],\
        "area": ["H.platz", "Vaihingen", "Alex.graben"],\
        "postalcode": ["52062", "70752", "52064"],\
        "city": ["Aachen", "Stuttgart", "Berlin"]}
df = pd.DataFrame(data)
df.head()

   restaurant         area postalcode       city
0        Jogi      H.platz      52062     Aachen
1  Terminal 1    Vaihingen      70752  Stuttgart
2  India Club  Alex.graben      52064     Berlin

In [28]:
df["Address"] = df[df.columns[0:]].apply(lambda x: ', '.join(x), axis=1)
df.head()

,restaurant,area,postalcode,city,Address
0,Jogi,H.platz,52062,Aachen,"Jogi, H.platz, 52062, Aachen"
1,Terminal 1,Vaihingen,70752,Stuttgart,"Terminal 1, Vaihingen, 70752, Stuttgart"
2,India Club,Alex.graben,52064,Berlin,"India Club, Alex.graben, 52064, Berlin"

## Create list by List Comprehension

In [4]:
mylist = [i for i in "ABCD"]
mylist

['A', 'B', 'C', 'D']

### Adds an item at the end of the list --> append()

In [5]:
mylist.append([100, 200])
mylist

['A', 'B', 'C', 'D', [100, 200]]

### Add the items of a iterable, to the end of the current list --> extend()

In [6]:
mylist.extend("THIS")
print(mylist)

['A', 'B', 'C', 'D', [100, 200], 'T', 'H', 'I', 'S']

### Add an item at the specified position --> insert() (thêm vào vị trí chỉ định)

In [7]:
mylist.insert(1, 20.35)
print(mylist)

['A', 20.35, 'B', 'C', 'D', [100, 200], 'T', 'H', 'I', 'S']

### Remove the first occurence of specified item --> remove()

In [8]:
mylist.remove("H")
print(mylist)

['A', 20.35, 'B', 'C', 'D', [100, 200], 'T', 'I', 'S']

### Removes the item at the specified position --> pop(index) (xóa phần tử dựa vào vị trí)

In [9]:
mylist.pop(-5)

'D'

### Removes the item at the end of the list --> pop()

In [10]:
mylist.pop()

'S'

### Get the index of the first occurence of the specified item --> index() (vị trí)

In [11]:
mylist.index("I")

6

### Reverse the order of the list --> reverse() (đảo ngược)

In [12]:
mylist.reverse()
print(mylist)

['I', 'T', [100, 200], 'C', 'B', 20.35, 'A']

### Đếm số lần xuất hiện của phần tử được chỉ định

In [13]:
mylist.count("I")

1

### Sort the list --> sort()

In [17]:
mylist.remove(20.35)
mylist.remove([100, 200])
mylist.sort()
print(mylist)

['A', 'B', 'C', 'I', 'T']

In [18]:
"T" in mylist

True

In [19]:
20.35 not in mylist

True

### Create a new list by copying mylist --> copy()

In [20]:
newlist = mylist.copy()
print(newlist)

['A', 'B', 'C', 'I', 'T']

### Lấy chỉ mục và các mục tại các chỉ mục đó từ danh sách

In [21]:
for idx in range(0,len(mylist)):
    print(f"mylist[{idx}] = {mylist[idx]}")

mylist[0] = A
mylist[1] = B
mylist[2] = C
mylist[3] = I
mylist[4] = T

### Đảo ngược chỉ mục

In [22]:
import numpy as np
for idx in list(np.arange(len(mylist),0,-1)*-1):
    print(f"mylist[{idx}] = {mylist[idx]}")

mylist[-5] = A
mylist[-4] = B
mylist[-3] = C
mylist[-2] = I
mylist[-1] = T

In [23]:
len(mylist)

5

### Remove all items from the list --> clear()

In [24]:
mylist.clear()
print(mylist)

[]

### Delete the list --> del(name_of_list)

In [25]:
del(mylist)